@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Boostrap.styles.css" asp-append-version="true" />

<div class="conrainer bg-black">
    <div class="col-md-6 mb-3">

    </div>
</div>



<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
